<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{__${'layouts/intranet-layout-'+layoutMode}__}">
<head>
    <title th:utext="#{i18n.branchlentics_caption}"></title>
    <th:block th:replace="layout/base :: shared_css"/>
</head>
<body onload="loaderControl();">
<th:block layout:fragment="content">
    <div class="container">
        <div class="row mrgn-tp-md mrgn-bttm-md mrgn-rght-sm">
            <div class="col-md-12">
                <div id="section_title">
                    <p class="lead"
                       th:utext="'<b>' + #{i18n.branchlentics_title} + '</b>'">
                        branchlentics</p>
                </div>
                <div id="stream_lake">
                    <p id="input_lake">
                        <b th:utext="#{i18n.lake_caption} + ' '">Lake: </b>
                        <mark th:utext="${referlake.showText}" class="bg-info">#</mark>
                    </p>                    
					<input type="hidden" value="#" id="referlake_id"
                       th:attr="value=${referlake != null} ? ${referlake.id}"/>
                    <p id="input_stream">
                        <b th:utext="#{i18n.stream_caption} + ' '">Stream: </b>
                        <mark th:utext="${referstream.showText}" class="bg-info">#</mark>
                    </p>                   
					<input type="hidden" value="#" id="referstream_id"
                       th:attr="value=${referstream != null} ? ${referstream.id}"/>
                </div>
                <table id="branchlentic_list_table"
                       class="wb-tables table list-table table-hover table-bordered"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <th th:utext="#{i18n.branchlentic_code_title}">branchlentic
                            Code
                        </th>
                        <th th:utext="#{i18n.en_name_caption}">branchlentic
                            En Name
                        </th>
                        <th th:utext="#{i18n.fr_name_caption}">branchlentic
                            Fr Name
                        </th>
                        <th th:utext="#{i18n.description_title}">branchlentic
                            description
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div id="displayInfoMessage"></div>
                <div>
                    <div th:replace="layout/base :: loc_edit_buttons(addEnabled=${__${T(ca.gc.dfo.slims.config.SecurityHelper).TH_EL('EL_MODIFY_LOCATIONS')}__}, deleteEnabled=${__${T(ca.gc.dfo.slims.config.SecurityHelper).TH_EL('EL_DELETE_LOCATIONS')}__})"/>
                    <div class="pull-right mrgn-tp-md mrgn-bttm-sm">
                        <button id="button_station" type="button" class="btn btn-primary mrgn-lft-sm"
                                th:utext="#{i18n.stations_title}">Stations
                        </button>
                    </div>
                </div>
            </div>
            <div id="branchlentic_form" hidden="true"
                 class="wb-frmvld col-md-12 brdr-tp mrgn-tp-md mrgn-bttm-sm mrgn-lft-sm mrgn-rght-sm background-light">
                <h4 th:utext="#{i18n.add_edit_branchlentic_title}">Add/Edit
                    Branch-Lentic</h4>
                <form id="edit_form" class="form-horizontal mrgn-tp-md" role="form">
                    <input type="hidden" value="#" id="branchlentic_id"/>
                    <div class="form-group pad-left-col">
                        <label for="branchLenticCode" class="required">
                            <span class="field-name" th:utext="#{i18n.code_caption}">Code</span>
                            <strong class="required" th:utext="#{form.required}">(required)</strong>
                        </label>
                        <br />
                        <input type="text" class="input-sm pull-left" id="branchLenticCode" name="branchLenticCode"
                               placeholder=""
                               required="required" maxlength="4" data-rule-alphanumeric="true"
                               pattern="^([a-zA-Z]{1})[a-zA-Z0-9]{0,3}$"/>
                    </div>
                    <div class="form-group pad-left-col">
                        <label for="nameEn" class="required">
                            <span class="field-name" th:utext="#{i18n.en_name_caption}">English name</span>
                            <strong class="required" th:utext="#{form.required}">(required)</strong>
                        </label>
                        <br />
                        <input type="text" class="input-sm pull-left" id="nameEn" name="nameEn"
                                                placeholder="" required="required" maxlength="45"/>
                    </div>
                    <div class="form-group pad-left-col">
                        <label for="nameFr" class="required">
                            <span class="field-name" th:utext="#{i18n.fr_name_caption}">French name</span>
                            <strong class="required" th:utext="#{form.required}">(required)</strong>
                        </label>
                        <br />
                        <input type="text"
                               class="input-sm pull-left"
                               id="nameFr" name="nameFr"
                               placeholder=""
                               required="required"
                               maxlength="45"/>

                    </div>
                    <div class="form-group pad-left-col mrgn-bttm-lg">
                        <label for="description">
                            <span th:utext="#{i18n.description_title}">description</span>
                        </label>
                        <br/>
                        <input type="text" class="input-sm pull-left" id="description" name="description" placeholder=""
                               maxlength="100"/>
                    </div>
                    <div th:replace="layout/base :: loc_form_buttons(saveEnabled=${__${T(ca.gc.dfo.slims.config.SecurityHelper).TH_EL('EL_MODIFY_LOCATIONS')}__})"/>
                </form>
            </div>
        </div>
        <div th:replace="layout/base :: shared_controls"/>
    </div>
</th:block>
<!-- 	Global Layout JS -->
<th:block layout:fragment="scripts">
    
    <script th:src="@{/js/commonapp.js}" type="text/javascript"></script>
    <script th:src="@{/js/branchlentics/app.js}" type="text/javascript"></script>
</th:block>
</body>
</html>